.dark {
    background-color: var(--grey);
}

.colored{
    background-color: var(--yellow);   
}

.timekeeper {
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
    font-size: large;
    min-width: 86px;
    max-width: 86px;
    min-height: 20px;
}