.container {
    display: grid;
    grid: 50px 1fr auto/ minmax(0, 200px) 1fr minmax(0, 200px);
    min-height: 100vh;
}

.header {
    grid-column: 1/4;
    background-color: var(--black);
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.main {
    grid-column: 2/3;
    background-color: var(--pink);
}

.footer {
    grid-column: 1/4;
    background-color: cadetblue;
}

.dark{
    background-color: var(--white); 
}

.colored{
    background-color: var(--black); 
}

.logo {
    color: var(--pink);
    font-weight: bold;
    text-align: center;
}

.userName {
    color: var(--yellow);
    font-weight: bold;
    padding: 0 15px;
}

.felxBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}
