.submitButton {
    
    margin-right: 5px;
}

.reviewCard {
    border: 1px solid var(--grey);
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    margin: 10px;
}

 .formItem {
    margin: 5px;
 }

.comment{
    min-width: 70%;
    min-height: 30px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    resize: vertical;
    grid-column: 2/2;
}

.commentContainer {
    display: grid;
    grid-template: 1fr 1fr/ 15% 70%;
    align-items: center;    
}

.label {
    min-width: 15%;
}