.button{
    border: 1px solid;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    
}

.large {
    font-weight: 700;
    height: 40px;
}

.meduim {
    font-weight: 700;
    height: 30px;
}

.small {
    height: 20px;
}

.colored {
    border-color: var(--yellow) ;
    color: var(--yellow);
}
.dark {
    border-color: var(--black) ;
    color: var(--black);
}